BUCKET_NAME = "s3voice2text-bucket"
VECTOR_BUCKET = "vectors-space"
DEBUG = True
CLIENT = "s3"

RAW_BUCKET_FOLDER = "raw_audio"
TEXT_BUCKET_FOLDER = "transcripts"
SEGMENTS_PREFIX = "segments"

TABLE_NAME = "hash_table"

MODEL = ""
API_KEY = ""

REGION = "ap-southeast-2"
EMB_MODEL = "sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"

MEMORY_TABLE="memory_store"
HISTORY_TABLE="voice_status_table"
USER_TABLE="AudioFiles"

INDEX_NAME = "text-vect"
EMB_DIM = 384

CELERY_BROKER_URL="redis://127.0.0.1:6379/0"
CELERY_RESULT_BACKEND="redis://127.0.0.1:6379/1"

ENV_MODE = "prod"  #prod or dev